version: '2.1'

networks:
  fabric_togettoyou_network:
    name: fabric_togettoyou_network
    external: true

services:
  # 后端 - 本地构建
  fabric-realty.server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: fabric-realty.server
    volumes:
      - /usr/share/zoneinfo/Asia/Shanghai:/usr/share/zoneinfo/Asia/Shanghai
      - ./../network/crypto-config:/network/crypto-config
      - ./../network/data/application:/app/data
    ports:
      - "8080:8080"
    networks:
      - fabric_togettoyou_network
    environment:
      - TZ=Asia/Shanghai

  # 前端
  fabric-realty.web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: fabric-realty.web
    ports:
      - "8000:80"
    networks:
      - fabric_togettoyou_network
